= form_for @line, url: node_lines_path(@node) do |f|
  - if @line.errors.any?
    #error_explanation
      %h2= "#{pluralize(@line.errors.count, "error")} prohibited this line from being saved:"
      %ul
        - @line.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :next_node_id
    = f.number_field :next_node_id
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Save'
