%div.node_element{:id => "node_element_#{node.id}"}
  %div{:id => "node_element_error_#{node.id}"}
  = form_for node, url: node_path(node), method: "patch", remote: true do |f|
    = f.text_field :description
    = f.submit('Update')
  = form_for node, url: node_path(node), method: "delete", remote: true do |f|
    = f.submit('Delete', data:{confirm: 'Are you sure?'})