%h1 Listing nodes

%h2 Diagram
%div= @diagram.title

%h2 Nodes
%div#node_container
  / node list
  - @nodes.each do |node|
    %div{:class => "node_#{node.id}"}
      = render partial: "nodes/node_element", locals: {:node => node}
      / line list
      - node.lines.each do |line|
        = render partial: "lines/line_element", locals: {:line => line}
      / line create
      = render partial: "lines/line_create_form", locals: {:node => node}
  /node create
  %div#node_create_error
  %div.node_element
    - node = Node.new
    = form_for node, url: diagram_nodes_path(@diagram), method: "post", remote: true, html: {:class => "node_create_form"} do |f|
      = f.text_field :description, :placeholder => "description"
      = f.submit('Create Node')

%div
  = link_to "image reload", "#", :id => "diagram_image_reload", :onclick => "return false"

%div
  = image_tag image_diagram_path(@diagram), :id => "diagram_image", :width => 640

:javascript
  $(document).ready(function(){
    console.log("image reloaded");
    $("#diagram_image_reload").click(function(){
      var timestamp = new Date().getTime();
      $("#diagram_image").attr("src", "/diagrams/#{@diagram.id}/image?" + timestamp);
    });
  });
