%h1 Listing nodes

%h2 Diagram
%div= @diagram.title

%br

%h2 Nodes
%div#node_container
  - @nodes.each do |node|
    = render partial: "nodes/node_element", locals: {:node => node}
  %div#create_error
  - node = Node.new
  = form_for node, url: diagram_nodes_path(@diagram), method: "post", remote: true do |f|
    = f.text_field :description
    = f.submit('Create')

%br

= link_to 'New Node', new_diagram_node_path(@diagram)
