%h1 Listing diagrams

%table
  %thead
    %tr
      %th User
      %th Title
      %th Description
      %th
      %th
      %th

  %tbody
    - @diagrams.each do |diagram|
      %tr
        %td= diagram.user_id
        %td= diagram.title
        %td= diagram.description
        %td= link_to 'Show', diagram
        %td= link_to 'Edit', edit_diagram_path(diagram)
        %td= link_to 'Destroy', diagram, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Diagram', new_diagram_path
