%p#notice= notice

%p
  %b User:
  = @diagram.user_id
%p
  %b Title:
  = @diagram.title
%p
  %b Description:
  = @diagram.description

= link_to 'Edit', edit_diagram_path(@diagram)
\|
= link_to 'Edit Nodes', diagram_nodes_path(@diagram)
\|
= link_to 'Back', diagrams_path
